@page "/old-home"

<PageTitle>Home</PageTitle>

<h1>Hello, @currentUser</h1>

Welcome to your new app (@MessageUser).

<input type="text" @bind=currentUser @bind:event="oninput"/>

<input type="text" @bind=date @bind:format="MM/dd/yyyy"/>

<ul>
@for(var i = 0; i<4; i++)
{
    <li>@i : @Random.Shared.Next(1, 7)</li>
}
</ul>

@if(currentUser.Length>5)
{
    <span>@currentUser[..5]&hellip;</span>
}
else
{
    <span>@currentUser</span>
}

@code
{
    private DateTime date = DateTime.Now.AddDays(5);
    
    private string currentUser = "Sylvain";

    public string MessageUser => $"Coucou {currentUser}.";


}
