@preservewhitespace false

<div class="navbar-nav  ms-auto">
    <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">Accueil</NavLink>
    <NavLink href="/item" class="nav-link">Réserver</NavLink>
    <NavLink href="/offer" class="nav-link">Prêter</NavLink>
</div>

@code {

}
